<div class="stat-block wide">
	<hr class="orange-border" />
	<div class="section-left">
		<div class="creature-heading">
			<h1>@monster.Name</h1>
			<h2>@monster.Size @monster.Type, @monster.Alignment</h2>
		</div> <!-- creature heading -->
		<svg height="5" width="100%" class="tapered-rule">
			<polyline points="0,0 400,2.5 0,5"></polyline>
		</svg>
		<div class="top-stats">
			<div class="property-line first">
				<h4>Armor Class</h4>
				<p>@monster.ArmorClass (@monster.ArmorName)</p>
			</div> <!-- property line -->
			<div class="property-line">
				<h4>Hit Points</h4>
				<p>@monster.HitPoints (@monster.HitDie.ToString())</p>
			</div> <!-- property line -->
			<div class="property-line last">
				<h4>Speed</h4>
				<p>@monster.Speeds.ToString().</p>
			</div> <!-- property line -->
			<svg height="5" width="100%" class="tapered-rule">
				<polyline points="0,0 400,2.5 0,5"></polyline>
			</svg>
			<div class="abilities">
				<div class="ability-strength">
					<h4>STR</h4>
					<p>@monster.Stats.GetStr()</p>
				</div> <!-- ability strength -->
				<div class="ability-dexterity">
					<h4>DEX</h4>
					<p>@monster.Stats.GetDex()</p>
				</div> <!-- ability dexterity -->
				<div class="ability-constitution">
					<h4>CON</h4>
					<p>@monster.Stats.GetCon()</p>
				</div> <!-- ability constitution -->
				<div class="ability-intelligence">
					<h4>INT</h4>
					<p>@monster.Stats.GetInt()</p>
				</div> <!-- ability intelligence -->
				<div class="ability-wisdom">
					<h4>WIS</h4>
					<p>@monster.Stats.GetWis()</p>
				</div> <!-- ability wisdom -->
				<div class="ability-charisma">
					<h4>CHA</h4>
					<p>@monster.Stats.GetCha()</p>
				</div> <!-- ability charisma -->
			</div> <!-- abilities -->
			<svg height="5" width="100%" class="tapered-rule">
				<polyline points="0,0 400,2.5 0,5"></polyline>
			</svg>
			<div class="property-line first">
				<h4>Damage Immunities</h4>
				<p>@monster.DamageTypes.ToString()</p>
			</div> <!-- property line -->
			<div class="property-line">
				<h4>Condition Immunities</h4>
				<p>
					@monster.ConditionImmunities.ToString()
				</p>
			</div> <!-- property line -->
			<div class="property-line">
				<h4>Senses</h4>
				<p>@monster.Senses.ToString()</p>
			</div> <!-- property line -->
			<div class="property-line">
				<h4>Languages</h4>
				<p>@monster.Languages.ToString();</p>
			</div> <!-- property line -->
			<div class="property-line last">
				<h4>Challenge</h4>
				<p>@monster.Cr</p>
			</div> <!-- property line -->
		</div> <!-- top stats -->
		<svg height="5" width="100%" class="tapered-rule">
			<polyline points="0,0 400,2.5 0,5"></polyline>
		</svg>
		<StatBlockProperties properties="@monster.Properties"/>
	<div class="section-right">
		<Actions actions="@monster.Actions" />
		<Actions actions="@monster.Reactions" />
		<Actions actions="@monster.Legendaries" />
		<Actions actions="@monster.Mythics" />
		<Actions actions="@monster.Regionals" />
	</div> <!-- section right -->
	<hr class="orange-border bottom" />
	</div> <!-- stat block -->
</div>
@code {
	[Parameter]
	public Monster monster { get; set; }
}
