<div class="@((this.monster.DoubleColumns) ? "col-lg-6 col-md-8 col-sm-12" : "col-lg-3 col-md-4 col-sm-6") margin-20">
    <div class="stat-block-header">
        <div class="button-group">
            <button>Button1</button>
            <button>Button2</button>
            <button>Button3</button>
        </div>
    
        <div class="creature-heading colored-bg" name="nameTag" hidden>
            <a class="pointer" name="slideBlock" id="a @monster.MonsterId" onclick="Slide(this)">
                <h1>@monster.Name</h1>
                <h2>@monster.Size @monster.Type, @monster.Alignment</h2>
            </a>
        </div> <!-- creature heading -->
    </div>
    <div class="stat-block @((this.monster.DoubleColumns) ? "wide" : "")">
        <hr class="orange-border" />
        <div class="section-left">
            <div class="creature-heading">
                <a class="pointer" name="slideBlock" id="a @monster.MonsterId" onclick="Slide(this)">
                    <h1>@monster.Name</h1>
                    <h2>@monster.Size @monster.Type, @monster.Alignment</h2>
                </a>
            </div> <!-- creature heading -->
            <svg height="5" width="100%" class="tapered-rule">
                <polyline points="0,0 400,2.5 0,5"></polyline>
            </svg>
            <div class="top-stats">
                <div class="property-line first">
                    <h4>Armor Class</h4>
                    <p>@monster.ArmorClass.GetAc</p>
                </div> <!-- property line -->
                <div class="property-line">
                    <h4>Hit Points</h4>
                    <p>@monster.HitDie.ToString()</p>
                </div> <!-- property line -->
                <div class="property-line last">
                    <h4>Speed</h4>
                    <p>@monster.Speeds.ToString()</p>
                </div> <!-- property line -->
                <svg height="5" width="100%" class="tapered-rule">
                    <polyline points="0,0 400,2.5 0,5"></polyline>
                </svg>
                <div class="abilities">
                    <div class="ability-strength">
                        <h4>STR</h4>
                        <p>@monster.Stats.ToString(StatType.Str)</p>
                    </div> <!-- ability strength -->
                    <div class="ability-dexterity">
                        <h4>DEX</h4>
                        <p>@monster.Stats.ToString(StatType.Dex)</p>
                    </div> <!-- ability dexterity -->
                    <div class="ability-constitution">
                        <h4>CON</h4>
                        <p>@monster.Stats.ToString(StatType.Con)</p>
                    </div> <!-- ability constitution -->
                    <div class="ability-intelligence">
                        <h4>INT</h4>
                        <p>@monster.Stats.ToString(StatType.Int)</p>
                    </div> <!-- ability intelligence -->
                    <div class="ability-wisdom">
                        <h4>WIS</h4>
                        <p>@monster.Stats.ToString(StatType.Wis)</p>
                    </div> <!-- ability wisdom -->
                    <div class="ability-charisma">
                        <h4>CHA</h4>
                        <p>@monster.Stats.ToString(StatType.Cha)</p>
                    </div> <!-- ability charisma -->
                </div> <!-- abilities -->
                <svg height="5" width="100%" class="tapered-rule">
                    <polyline points="0,0 400,2.5 0,5"></polyline>
                </svg>
                <DamageType dTypes="@monster.DamageTypes" />
                <ConditionImmunities conditionImmunities="@monster.ConditionImmunity" />
                <Senses senses="monster.Senses" />
                <Languages languages="monster.Languages" />
                <Cr CR="@monster.Cr" />
            </div> <!-- top stats -->
            <svg height="5" width="100%" class="tapered-rule">
                <polyline points="0,0 400,2.5 0,5"></polyline>
            </svg>
            <StatBlockProperties properties="@monster.Abilities" />
        </div>
        <div class="section-right">
            <Actions actions="@monster.Actions" />
            <Actions actions="@monster.Reactions" />
            <Actions actions="@monster.Legendaries" />
            <Actions actions="@monster.Mythics" />
            <Actions actions="@monster.Regionals" />
        </div> <!-- section right -->
        <hr class="orange-border bottom" />
    </div> <!-- stat block -->
</div>

@code {
    [Parameter]
    public Monster monster { get; set; }
    [Parameter]
    public string Id { get; set; }
}
